ColumnLimit: 110
IndentWidth: 2
TabWidth: 2
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # # Specific external headers in <> to put first
  - Regex: '<(catch2|gtest).*>'
    Priority: 1
  # External headers in <> with extension or /
  - Regex: '<[-\w\/-_]+[\.\/][-\w\/-_]+>'
    Priority: 2
  # Standard headers in <>
  - Regex: '<[-\w\/-_]+>'
    Priority: 3
  # Local headers in ""
  - Regex: '"[-\w\/-_]*"'
    Priority: 4
SortUsingDeclarations: true
